<h1
  class="header__title"
  role="button"
  tabindex="0"
  (click)="navigateTo('/')"
  (keyup.enter)="navigateTo('/')"
  (keyup.space)="navigateTo('/')"
>
  <img src="assets/images/logo-icon.png" alt="airbnb icon" class="header__title__icon" />
  <span>airbnb</span>
</h1>

<div class="header__buttons">
  <!-- Language Dropdown -->
  <div class="dropdown">
    <button class="header__button" (click)="toggleLanguageMenu()">
      <i class="pi pi-globe header__button__icon"></i>
    </button>

    <ul class="dropdown__menu" *ngIf="languageMenuOpen">
      <li
        [class]="
          'dropdown__link ' + (currentLanguage === lang.code ? 'bg-blue-50' : 'hover:bg-gray-50')
        "
        *ngFor="let lang of languages"
      >
        <button (click)="selectLanguage(lang.code)">
          <span class="language-flag-emoji">{{ lang.flag }}</span>
          {{ lang.name }}
        </button>
      </li>
    </ul>
  </div>

  <!-- User Button -->
  <button class="header__button">
    <i class="pi pi-user header__button__icon"></i>
  </button>

  <!-- Menu Dropdown -->
  <div class="dropdown">
    <button class="header__button" (click)="toggleMenu()">
      <i class="pi pi-bars header__button__icon"></i>
    </button>

    <ul class="dropdown__menu" *ngIf="menuOpen">
      <li class="dropdown__link hover:bg-gray-50">
        <button (click)="navigateTo('/personal-info')">
          {{ 'MENU.PERSONAL_INFORMATION' | translate }}
        </button>
      </li>
    </ul>
  </div>
</div>

<div
  class="menu-overlay"
  [class.show]="menuOpen || languageMenuOpen"
  (click)="closeAllMenus()"
  role="presentation"
  aria-hidden="true"
></div>
