@if (!isEditMode()) {
  <app-action-button
    [isDisabled]="false"
    [isDark]="true"
    [content]="'Edit'"
    (click)="startEdit()"
    [icon]="'file-edit'"
  ></app-action-button>
} @else {
  <div class="flex gap-2">
    <app-action-button
      [isDisabled]="false"
      [isDark]="false"
      [content]="'Cancel'"
      (click)="cancel()"
      [icon]="'times'"
    ></app-action-button>

    <app-action-button
      [isDisabled]="!isFormValid()"
      [isDark]="true"
      [content]="'Save'"
      (click)="save()"
      [icon]="'save'"
    ></app-action-button>
  </div>
}
