<div class="flex justify-between items-center">
  <h2 class="text-3xl mb-2">{{ offer().title }}</h2>

  <div class="flex">
    <app-link-saver></app-link-saver>

    <app-phrase-slider
      [dependancy]="false"
      [content]="likeButtonContent"
      (click)="saveOffer()"
    ></app-phrase-slider>
  </div>
</div>

<img
  [src]="offer().photos[0].url"
  [alt]="offer().photos[0].id"
  class="h-[400px] object-cover rounded-lg"
/>

<div class="flex justify-between">
  <div>
    <h2 class="text-2xl pb-1">
      <i class="pi pi-building mr-1"></i>
      <span
        >{{ getPropertyTypeLabel(offer().propertyType) }} hosted in {{ offer().address.city }},
        {{ offer().address.country }}</span
      >
    </h2>

    <div class="flex items-center gap-2">
      @for (item of capacityItems(); track item.key) {
        <div class="flex items-center gap-2">
          <i [class]="item.icon"></i>
          <span>{{ item.value }} {{ item.label }}</span>
        </div>

        @if (!$last) {
          <span class="text-gray-500">·</span>
        }
      }
    </div>
  </div>

  <div>
    <div class="flex items-center gap-4">
      <div class="flex items-center gap-1">
        <i class="pi pi-star-fill text-yellow-400"></i>
        <span class="font-medium">{{ offer().averageRating }}</span>
        <span>·</span>
        <span class="underline">{{ reviewsAmount }} {{ 'OFFERS.REVIEWS' | translate }}</span>
      </div>
    </div>
  </div>
</div>

<div class="flex w-[100%] justify-between mt-4">
  <div class="w-[60%]">
    <div class="border-b pb-4 pl-2">
      <p class="text-lg leading-relaxed flex gap-4">
        <i class="pi pi-align-left mt-1.5"></i>
        <span>{{ offer().description }}</span>
      </p>
    </div>

    <div class="border-b py-5 pl-2">
      <h3 class="text-xl tracking-wide mb-3">
        <i class="pi pi-gift mr-1"></i>
        <span>{{ 'OFFERS.PLACE_OFFERS' | translate }}</span>
      </h3>

      <div class="grid grid-cols-3">
        <div>
          <h4 class="text-lg tracking-wide pb-1">{{ 'OFFERS.ACCESSIBILITY' | translate }}</h4>
          <div class="flex flex-col gap-3 pl-1">
            @for (accessibility of accessibilityList(); track accessibility) {
              <div class="flex items-center gap-2">
                <i class="pi pi-plus-circle"></i>
                <span>{{ accessibility }}</span>
              </div>
            }
          </div>
        </div>

        <div>
          <h4 class="text-lg tracking-wide pb-1">{{ 'OFFERS.AMENITIES' | translate }}</h4>
          <div class="flex flex-col gap-3 pl-1">
            @for (amenity of amenitiesList(); track amenity) {
              <div class="flex items-center gap-2">
                <i class="pi pi-plus-circle"></i>
                <span>{{ amenity }}</span>
              </div>
            }
          </div>
        </div>

        <div>
          <h4 class="text-lg tracking-wide pb-1">{{ 'OFFERS.SAFETY_FEATURES' | translate }}</h4>
          <div class="flex flex-col gap-3 pl-1">
            @for (safetyFeature of safetyFeaturesList(); track safetyFeature) {
              <div class="flex items-center gap-2">
                <i class="pi pi-plus-circle"></i>
                <span>{{ safetyFeature }}</span>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-[30%] flex flex-col gap-6">
    <div
      class="rounded-xl shadow-[0_8px_25px_-10px_rgba(0,0,0,0.4)] py-3 flex justify-center gap-2 items-center"
    >
      <i class="pi pi-tags text-lg"></i>
      <span class="text-[16px]">{{ 'SPECIFIC_CITY_OFFERS.FEES' | translate }}</span>
    </div>

    <div class="rounded-xl shadow-[0_8px_25px_-10px_rgba(0,0,0,0.4)] px-6 py-5">
      <p class="mb-5">
        <span class="underline mr-1 text-xl">{{ offer().pricing.weekdayPrice }}$ </span>
        <span class="">{{ 'OFFERS.TERM' | translate }}</span>
      </p>

      <p class="flex items-center mb-2">
        <i class="pi pi-phone mr-1.5"></i>
        <span class="tracking-wide mr-2">{{ 'OFFERS.BOOKING' | translate }}:</span>
        <a href="tel:+375 (29) 23-23-233" target="_blank" class="underline">+375 (29) 23-23-233</a>
      </p>

      <p class="mb-8 flex">
        <i class="pi pi-map-marker mr-1.5 mt-1"></i>
        <span class="tracking-wide mr-2">{{ 'OFFERS.LOCATION' | translate }}:</span>
        <span class="text-sm mt-0.5">{{ offer().address | addressFormat }}</span>
      </p>
      <a
        href="tel:+375 (29) 23-23-233"
        class="block text-center w-full bg-brand-red text-white rounded-full uppercase tracking-wider font-medium py-3 mb-2 focus-ring"
        [attr.aria-label]="'OFFERS.RESERVE' | translate"
      >
        {{ 'OFFERS.RESERVE' | translate }}
      </a>

      <p class="text-center text-sm">
        {{ 'OFFERS.YOU_WONT_BE_CHARGED_YET' | translate }}
      </p>
    </div>
  </div>
</div>
